@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100vw;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 220, 220, 220;
  --background-end-rgb: 220, 220, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 24, 47;
    --background-end-rgb: 10, 24, 47;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (min-width: 640px) {
  .sidenav {
    height: calc(100vh - 4rem);
  }
}

/* This will affect the scrollbar globally */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

/* For Webkit browsers like Chrome, Safari */
/* For Webkit browsers like Chrome, Safari */
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: 3px solid transparent;
}

.quote::before {
  font-family: "Times New Roman", Times, serif;
  content: "“";
  font-size: 3rem;
  position: absolute;
  top: -1rem;
  left: -1rem;
}

.quote::after {
  font-family: "Times New Roman", Times, serif;
  content: "”";
  font-size: 3rem;
  position: absolute;
  bottom: -1rem;
  right: -1rem;
}
